.MyDescription {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid black;

  img {
    max-width: 600px;
  }

  div {
      min-width: 80%;

      p {
          text-align: justify;
      }
  }


}
