@use '../../styles/colors.scss' as Colors;
@use '../../styles/breakPoints.scss' as BreakPoints;

.navbarMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0.5rem 1rem;

  border-bottom: 0.5px solid Colors.$low-white;

  transition: all 400ms linear;

  &:hover {
    border-bottom: 1px solid Colors.$green;
  }

  @include BreakPoints.mobile {
    flex-direction: column;
  }

}

.navbarButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  @include BreakPoints.mobile {
    justify-content: space-around;
  }
}

.navButtons {
  margin-left: 1rem;

  a {
    text-decoration: none;
    color: Colors.$white;
    font-weight: bold;
    font-size: 22px;

    transition: 0.3s;

    &:hover {
      color: Colors.$green;
    }
  }
}

.homeButton {
  flex-basis: 35%;

  > a {
    display: flex;
    text-decoration: none;

    > h1 {
      color: Colors.$white;
      font-weight: bold;
      padding-left: 1rem;
    }
  }
  img {
    max-width: 30px;
  }
}
