.navbar {
  background-color: rgba(245, 222, 179, 0.26);

  height: 115px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.navbarMain {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    max-width: 110px;
  }
}
