.navbar {
  background-color: rgba(245, 222, 179, 0.26);

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  
}

.navbarTop {
  display: flex;
  justify-content: space-evenly;
}

.navbarBottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    max-width: 150px;
  }
}
