.footer {
  background-color: yellowgreen;

  width: 100%;
  height: 5rem;

  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.contact {
  display: flex;
  justify-content: space-evenly;

  p {
    display: flex;
    flex-direction: column;
    align-content: center;

    background-color: whitesmoke;
  }
}

.copy {
  text-align: center;
}
