.contact {
  display: flex;
  justify-content: space-evenly;

  padding-top: 1%;

  p {
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.158);

    min-height: 60px;
    min-width: 60px;

    border-radius: 10%;

    padding: 5px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-decoration: none;
      color: white;
    }

    img {
      width: 30px;
      height: auto;
    }
  }
}
