@use '../styles/colors.scss' as Colors;
@use '../styles/breakPoints.scss' as Breakpoints;

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;

  @include Breakpoints.mobile {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 110px 1rem;
  }

  .projectImageContainer {
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;

    img {
      width: 50%;
      height: auto;
      border-radius: 5px;

      @include Breakpoints.mobile {
        width: 100%;
      }
    }
  }

  .projectInfoContainer {
    width: 50%;

    @include Breakpoints.mobile {
      width: 100%;
    }

    > h3 {
      font-weight: bold;
      color: Colors.$white;

      border-bottom: 1px solid Colors.$green;

      width: 30%;

      @include Breakpoints.mobile {
        width: 100%;
      }
    }

    > p {
      color: Colors.$white;
      padding-bottom: 1rem;
    }
    .projectLinks {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 1rem;

      background-color: rgba(0, 0, 0, 0.253);
      backdrop-filter: blur(2px);

      > h3 {
        font-weight: bold;
        color: Colors.$white;
        border-bottom: 1px solid Colors.$green;
        text-align: center;

        width: 50%;
      }

      > a {
        text-decoration: none;
        color: Colors.$white;

        &:hover {
          color: Colors.$green;
        }
      }
    }
  }
}
