@use '../../styles/colors.scss' as Colors;
@use '../../styles/breakPoints.scss' as BreakPoint;

.TechStack {
  padding-top: 4rem;

  @include BreakPoint.mobile {
    padding-bottom: 85px;
  }

  > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;

    padding: 5px 0;

    > li {
      @include BreakPoint.mobile {
        text-align: center;
        flex-basis: 33%;
      }
    }
  }
}

.listElement {
  text-decoration: none;
  color: Colors.$white;
  font-weight: bold;

  transition: 0.3s;

  &:hover {
    color: Colors.$green;
  }
}
